[Unit]
Description=Sonos-Control-AutoMuter watches for silence and automatically mutes the amplifier if nothing is played
After=pigpiod.service
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/pi/Sonos-Control/Sonos-Control.sh monitorSilence

[Install]
WantedBy=multi-user.target